apiVersion: v1
kind: Pod
metadata:
  name: api
  labels:
    app: api
spec:
  containers:
  - name: api
    image: ykipper1/contacts-api:v1
    imagePullPolicy: Always
    ports:
    - containerPort: 8000
